<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <extensions>
    <add assembly="NTRPRS.NLog.Slack" />
  </extensions>


  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="false">
    
    <target xsi:type="Slack"
            name="slackTarget"
            layout="${message}"
            webHookUrl="https://hooks.slack.com/services/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"
            channel="#trulialog"
            excludeLevel="false"
            embed="true"
            username="Trulia Parser Logger"
            icon=":ghost:" />

    <target xsi:type="File"
           name="trace"
           layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
           fileName="${basedir}/logs/${shortdate}/traceLog.log"/>
  
  </targets>


  <rules>
    <logger name="*" levels="Info,Error,Fatal" writeTo="slackTarget" />
    <logger name="*" levels="Trace" writeTo="trace" />
  </rules>
</nlog>
